body {
    background-color: black;
    text-align: center;     
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-bottom: 5px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    color: gray;
    font-size: 21px;
}

a {
    font-weight: 500;
    color: aquamarine;
    size: 16px;
}

img {
    padding-bottom: 25px;
}

#phone-icon {
    padding: 0 0 0 0;
}

video {
    padding-top: 15px;
}

footer p {
    text-align: right;  
}


